
.containerM{
    display: flex;
   
    width: 300px;
    flex-wrap: wrap;
    min-height: 50px;
    flex-direction: column;
    border-radius: 30px;
    border: 2px solid rgb(0, 0, 0);
    margin-bottom: 20px;
}
.containerM > div {
    display: flex;
    margin-left: 10px;
    margin-top: -5px;
    flex-direction: row;
    justify-content: flex-start;
}
.containerM  > span {
    display: flex;
    justify-content: center;
    margin-bottom: -3%;
    height: 30px;
    margin-left: 10px;
    font-size: medium;
    font-weight: bold;
    color: white;
}
.containerM > div > section{
    display: flex;
    align-items: center;
}
.containerM > div > span{
    display: flex;
    color: white;
    text-align: justify;
    margin-left: 15px;
    align-items: center;
}